# Data Structures — Assignment

**Q:** What are data structures, and why are they important?

**A:** Data structures are organized ways to store and manage data (arrays, lists, trees, graphs, hash tables). They are important because they determine efficiency of storage, retrieval, and manipulation (time/space complexity).

**Q:** Explain the difference between mutable and immutable data types with examples

**A:** Mutable types (list, dict, set) can be changed after creation. Immutable types (int, float, str, tuple) cannot be changed — operations create new objects.

**Q:** What are the main differences between lists and tuples in Python

**A:** Lists are mutable and support methods like append/pop; tuples are immutable, typically slightly faster and can be used as dictionary keys if they contain only immutables.

**Q:** Describe how dictionaries store data

**A:** Dictionaries use a hash table under the hood: keys are hashed to compute bucket locations; collisions are resolved by probing or chaining. This gives average O(1) lookup, insert, delete.

**Q:** Why might you use a set instead of a list in Python

**A:** Sets provide O(1) average-time membership tests and automatically remove duplicates. Use sets when uniqueness and fast membership checks are needed.

**Q:** What is a string in Python, and how is it different from a list

**A:** A string is an immutable sequence of characters. Unlike lists, strings cannot be modified in-place and their elements are characters, not general objects.

**Q:** How do tuples ensure data integrity in Python

**A:** Tuples are immutable, so once created their contents cannot be changed. This prevents accidental modification and can be used to represent fixed records.

**Q:** What is a hash table, and how does it relate to dictionaries in Python

**A:** A hash table maps keys to values using a hash function to compute indices. Python dictionaries are implemented using hash tables.

**Q:** Can lists contain different data types in Python

**A:** Yes — lists are heterogeneous and can hold elements of different types simultaneously.

**Q:** Explain why strings are immutable in Python

**A:** Immutability allows sharing and caching of string objects, simplifies reasoning about code, and makes strings hashable (usable as dict keys).

**Q:** What advantages do dictionaries offer over lists for certain tasks

**A:** Dictionaries provide fast key-based lookup (O(1) average) and direct access by key rather than by numeric index, which is ideal for associative data.

**Q:** Describe a scenario where using a tuple would be preferable over a list

**A:** When representing fixed-size records (e.g., coordinates (x,y)), or when you need a hashable sequence to use as a dict key.

**Q:** How do sets handle duplicate values in Python

**A:** Sets automatically discard duplicates; adding an existing element does nothing.

**Q:** How does the “in” keyword work differently for lists and dictionaries

**A:** For lists, `x in list` checks membership by scanning elements (O(n)). For dictionaries, `k in dict` checks keys using the hash table (O(1) average).

**Q:** Can you modify the elements of a tuple? Explain why or why not

**A:** No — tuples are immutable. You can create a new tuple by concatenation, but cannot change elements in-place.

**Q:** What is a nested dictionary, and give an example of its use case

**A:** A nested dictionary is a dict whose values are dicts: e.g., `{'student1': {'age':20, 'grade':'A'}}`. Useful for hierarchical or JSON-like data.

**Q:** Describe the time complexity of accessing elements in a dictionary

**A:** Average O(1) for lookup, insert, and delete; worst-case O(n) if many hash collisions occur (rare with good hashing).

**Q:** In what situations are lists preferred over dictionaries

**A:** When order matters, or when you need positional indexing, slicing, or when elements are homogeneous and sequence operations are needed.

**Q:** Why are dictionaries considered unordered, and how does that affect data retrieval

**A:** Historically dicts had no guaranteed order; from Python 3.7 insertion order is preserved as an implementation detail. Retrieval by key is unaffected; iteration order matches insertion order (Python 3.7+).

**Q:** Explain the difference between a list and a dictionary in terms of data retrieval.

**A:** Lists retrieve by integer index (O(1) by index access), dictionaries retrieve by key (O(1) average) — dictionaries are for associative lookup, lists for ordered sequences.

## Practical Questions — Code answers (run each cell to see outputs)

**#1 Create a string with your name and print it**

In [1]:
name = 'Vaibhav Mittal'
print(name)

Vaibhav Mittal

**#2 Find the length of the string 'Hello World'**

In [2]:
s = 'Hello World'
print(len(s))

11

**#3 Slice the first 3 characters from 'Python Programming'**

In [3]:
s = 'Python Programming'
print(s[:3])

Pyt

**#4 Convert 'hello' to uppercase**

In [4]:
print('hello'.upper())

HELLO

**#5 Replace 'apple' with 'orange' in 'I like apple'**

In [5]:
s = 'I like apple'
print(s.replace('apple','orange'))

I like orange

**#6 Create a list with numbers 1 to 5 and print it**

In [6]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

**#7 Append the number 10 to the list [1,2,3,4]**

In [7]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**#8 Remove the number 3 from the list [1,2,3,4,5]**

In [8]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**#9 Access the second element in the list ['a','b','c','d']**

In [9]:
lst = ['a','b','c','d']
print(lst[1])

b

**#10 Reverse the list [10,20,30,40,50]**

In [10]:
lst = [10,20,30,40,50]
print(lst[::-1])

[50, 40, 30, 20, 10]

**#11 Create a tuple with 100,200,300 and print it**

In [11]:
t = (100,200,300)
print(t)

(100, 200, 300)

**#12 Access the second-to-last element of ('red','green','blue','yellow')**

In [12]:
t = ('red','green','blue','yellow')
print(t[-2])

blue

**#13 Find the minimum number in (10,20,5,15)**

In [13]:
t = (10,20,5,15)
print(min(t))

5

**#14 Find the index of 'cat' in ('dog','cat','rabbit')**

In [14]:
t = ('dog','cat','rabbit')
print(t.index('cat'))

1

**#15 Create a tuple of three fruits and check if 'kiwi' is in it**

In [15]:
t = ('apple','banana','mango')
print('kiwi' in t)

False

**#16 Create a set with 'a','b','c' and print it**

In [16]:
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

**#17 Clear all elements from the set {1,2,3,4,5}**

In [17]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

**#18 Remove the element 4 from the set {1,2,3,4}**

In [18]:
s = {1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

**#19 Union of two sets {1,2,3} and {3,4,5}**

In [19]:
a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

**#20 Intersection of two sets {1,2,3} and {2,3,4}**

In [20]:
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

{2, 3}

**#21 Create a dictionary with keys name, age, city and print it**

In [21]:
d = {'name':'John','age':25,'city':'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

**#22 Add 'country':'USA' to {'name':'John','age':25}**

In [22]:
d = {'name':'John','age':25}
d['country']='USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

**#23 Access value for key 'name' in {'name':'Alice','age':30}**

In [23]:
d = {'name':'Alice','age':30}
print(d['name'])

Alice

**#24 Remove key 'age' from {'name':'Bob','age':22,'city':'New York'}**

In [24]:
d = {'name':'Bob','age':22,'city':'New York'}
d.pop('age', None)
print(d)

{'name': 'Bob', 'city': 'New York'}

**#25 Check if key 'city' exists in {'name':'Alice','city':'Paris'}**

In [25]:
d = {'name':'Alice','city':'Paris'}
print('city' in d)

True

**#26 Create a list, tuple, and dictionary and print them**

In [26]:
lst=[1,2,3]
t=(4,5,6)
d={'a':1,'b':2}
print(lst)
print(t)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

**#27 Create a list of 5 random numbers between 1 and 100, sort ascending and print**

In [27]:
import random
lst = random.sample(range(1,101),5)
lst.sort()
print(lst)

[36, 60, 65, 86, 96]

**#28 Create a list with strings and print element at third index**

In [28]:
lst=['zero','one','two','three','four']
print(lst[3])

three

**#29 Combine two dictionaries into one and print the result**

In [29]:
d1={'a':1,'b':2}
d2={'c':3,'b':20}
# Python 3.9+: merged = d1 | d2
merged = d1.copy(); merged.update(d2)
print(merged)

{'a': 1, 'b': 20, 'c': 3}

**#30 Convert a list of strings into a set**

In [30]:
lst=['apple','banana','apple']
print(set(lst))

{'banana', 'apple'}